{{>header}}
{{>navbar}}

<section class="container my-4">
    <h2 class="text-primary mb-3">All Users</h2>
    <table class="table table-bordered">
        <thead>
            <th class="text-center">id</th>
            <th class="text-center">name</th>
            <th class="text-center">user age</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
            {{#unless userStatus}}
                <tr>
                    <td colspan="4" class="text-center">No uesrs yet</td>
                </tr>
            {{else}}
                {{#each allUsers}}
                    <tr>
                        <td class="text-center">{{this._id}}</td>
                        <td class="text-center">{{this.userName}}</td>
                        <td class="text-center">{{this.age}}</td>
                        <td class="text-center">                    
                            <a href="/single/{{this._id}}" class="mr-2 btn btn-primary">show user</a>
                            <a href="/edit/{{this._id}}" class="mr-2 btn btn-warning">Edit user</a>
                            <a href="/delete/{{this._id}}" class="mr-2 btn btn-danger">delete user</a>
                        </td>
                    </tr>
                {{/each}}
            {{/unless}}
        </tbody>
    </table>
</section>

{{>footer}}